body{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: rgb(65, 138, 65);
  border-radius: 0 0 10px 10px;
}
header p{
  margin-top: 10px;
}
.top-title{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title-discription{
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
}
.section-position{
  display: flex;
  gap: 80px;
  height: 70px;
  padding: 10px;
}
.card{
  height: 40px;
  width: 40px;
  font-size: 60px;
}
.score-container{
  padding-left: 35px;
}
.mid-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:darkslateblue;
  height: 70px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px black;
}
.mid-section p{
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  padding-top: 7px;
  padding-bottom: 7px;
}
footer{
  display: flex;
  margin-top: 20px;
  padding: 5.7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: rgb(35, 34, 34);
  border-radius:10px 10px 10px 10px;
}